version: '3.7'


services:
  aws:
    image: abdennour/aws
    volumes:
      - .:/code
      - aws-creds:/root/.aws
    restart: "no"
    working_dir: /code

  terraform:
    image: hashicorp/terraform:0.12.12
    volumes:
      - .:/code
      - aws-creds:/root/.aws
    working_dir: /code
    environment:
      AWS_PROFILE: ${EKS_AWS_PROFILE}

  kubectl:
    image: abdennour/kubectl:v1.14.7-aws1.16.277
    volumes:
      - .:/code
      - aws-creds:/root/.aws:ro
    restart: "no"
    entrypoint: kubectl
    environment:
      AWS_PROFILE: ${EKS_AWS_PROFILE}
      KUBECONFIG: /code/kubeconfig_awesome
    ports:
    # machine : container
    - 8090:8090
volumes:
  aws-creds:
    name: aws-creds